[submodule "footprints/ceoloide"]
	path = footprints/ceoloide
	url = git@github.com:ceoloide/ergogen-footprints.git
[submodule "footprints/travis"]
	path = footprints/travis
	url = https://github.com/dieseltravis/ergogen-footprints-travis/
